<div class="flex items-center justify-center h-full">
    <div class="bg-gray-800 p-8 rounded-lg shadow-xl w-full max-w-xs md:max-w-lg lg:max-w-xl">
        <h2 class="text-3xl font-bold text-center text-white mb-8">
            Iniciar Sesión 🚀
        </h2>

        <form (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <label for="user" class="block text-gray-300 text-sm font-bold mb-2">
                    👤 Usuario:
                </label>
                <input type="text" id="user" name="user"
                    class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 border-gray-600 text-white placeholder-gray-400"
                    placeholder="usuario_1234" [(ngModel)]="username" required />
            </div>

            <div class="mb-6">
                <label for="password" class="block text-gray-300 text-sm font-bold mb-2">
                    🔐 Contraseña:
                </label>

                <div class="relative">
                    <input [type]="passwordVisible ? 'text' : 'password'" id="password" name="password"
                        class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 border-gray-600 text-white placeholder-gray-400 pr-10"
                        placeholder="••••••••" [(ngModel)]="password" required />

                    <button type="button" (click)="togglePasswordVisibility()"
                        class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 hover:text-white focus:outline-none"
                        aria-label="Mostrar/Ocultar Contraseña">

                        <i class="fas" [class.fa-eye]="!passwordVisible" [class.fa-eye-slash]="passwordVisible">
                        </i>
                    </button>
                </div>
            </div>

            <div class="flex items-center justify-between mb-6">
                <button type="submit"
                    class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline transition duration-300 ease-in-out w-full">
                    Iniciar Sesión
                </button>
            </div>
        </form>
    </div>
</div>